<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taca.mapper.SubmissionsMapper">

  <resultMap id="BaseResultMap" type="com.taca.model.Submissions">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RECEIVE_TASK_ID" jdbcType="BIGINT" property="receiveTaskId" />
    <result column="RECEIVE_BOOK" jdbcType="VARCHAR" property="receiveBook"/>
    <result column="FILE_ADDRESS" jdbcType="VARCHAR" property="fileAddress" />
    <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    <result column="MESSAGE" jdbcType="LONGVARCHAR" property="meessage"/>
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RECEIVE_TASK_ID,RECEIVE_BOOK,FILE_ADDRESS,STATUS,MESSAGE, CREATE_TIME, UPDATE_TIME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IM_D_SUBMISSIONS
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from IM_D_SUBMISSIONS
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="Submissions">
    insert into IM_D_SUBMISSIONS (ID, RECEIVE_TASK_ID,RECEIVE_BOOK, FILE_ADDRESS,STATUS,MESSAGE,
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{receiveTaskId,jdbcType=BIGINT}, #{receiveBook,jdbcType=VARCHAR},#{fileAddress,jdbcType=VARCHAR},
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
  </insert>

  <insert id="insertSelective" parameterType="Submissions">
    insert into IM_D_SUBMISSIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="receiveTaskId != null">
        RECEIVE_TASK_ID,
      </if>
      <if test="receiveBook!=null">
        RECEIVE_BOOK,
      </if>
      <if test="fileAddress != null">
        FILE_ADDRESS,
      </if>
      <if test="status!=null">
        STATUS,
      </if>
      <if test="message!=null">
        MESSAGE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="receiveTaskId != null">
        #{receiveTaskId,jdbcType=BIGINT},
      </if>
      <if test="receiveBook!=null">
        #{receiveBook,jdbcType=VARCHAR},
      </if>
      <if test="fileAddress != null">
        #{fileAddress,jdbcType=VARCHAR},
      </if>
      <if test="status!=null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="message!=null">
        #{message,jdbcType=LONGVARCHAR}
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="Submissions">
    update IM_D_SUBMISSIONS
    <set>
      <if test="receiveTaskId != null">
        RECEIVE_TASK_ID = #{receiveTaskId,jdbcType=BIGINT},
      </if>
      <if test="receiveBook!=null">
        RECEIVE_BOOK=#{receiveBook,jdbcType=VARCHAR},
      </if>
      <if test="fileAddress != null">
        FILE_ADDRESS = #{fileAddress,jdbcType=VARCHAR},
      </if>
      <if test="status!=null">
        STATUS=#{status,jdbcType=VARCHAR},
      </if>
      <if test="message!=null">
        MESSAGE=#{message,jdbcType=LONGVARCHAR}
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="Submissions">
    update IM_D_SUBMISSIONS
    set RECEIVE_TASK_ID = #{receiveTaskId,jdbcType=BIGINT},
     RECEIVE_BOOK=#{receiveBook,jdbcType=VARCHAR},
      FILE_ADDRESS = #{fileAddress,jdbcType=VARCHAR},
      STATUS=#{status,jdbcType=VARCHAR},
      MESSAGE=#{message,jdbcType=LONGVARCHAR}
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertUserBack" parameterType="com.taca.model.Submissions">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 21 18:03:31 CST 2017.
    -->
    insert into IM_D_SUBMISSIONS (RECEIVE_TASK_ID,FILE_ADDRESS,CREATE_TIME,UPDATE_TIME,RECEIVE_BOOK,STATUS,MESSAGE)
    values(#{receiveTaskId,jdbcType=BIGINT},#{fileAddress,jdbcType=VARCHAR},#{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE},#{receiveBook,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{message,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateForReject" parameterType="Submissions">
    update IM_D_SUBMISSIONS
    set
    UPDATE_TIME = #{updateTime,jdbcType=DATE},
    STATUS = #{status,jdbcType=VARCHAR},
    MESSAGE = #{message,jdbcType=LONGVARCHAR}
    where RECEIVE_TASK_ID = #{receiveTaskId,jdbcType=BIGINT}
  </update>

  <update id="updateForAgree" parameterType="Submissions">
    update IM_D_SUBMISSIONS
    set
    UPDATE_TIME = #{updateTime,jdbcType=DATE},
    STATUS = #{status,jdbcType=VARCHAR}
    where RECEIVE_TASK_ID = #{receiveTaskId,jdbcType=BIGINT}
  </update>
  
  <select id="getCountByReceiveId" parameterType="java.lang.Long" resultType="java.lang.Integer">
      select count(ID) 
      from IM_D_SUBMISSIONS
      where 
      RECEIVE_TASK_ID = #{id,jdbcType=BIGINT}
      
  </select>
  
  <select id="getByReceiveId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IM_D_SUBMISSIONS
    where RECEIVE_TASK_ID = #{receiveId,jdbcType=BIGINT}  order by UPDATE_TIME desc limit 1
  </select>
  
</mapper>